<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.texas4win.app"
    android:versionCode="1"
    android:versionName="1.0.0">

    <!-- Platform minimum and target -->
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34" />

    <!-- Required permissions - Justify each one -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Declare app capabilities -->
    <uses-feature
        android:name="android.hardware.internet"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Texas4Win"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="false"
        android:supportsRtl="true">

        <!-- Main Activity - Properly exported for LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/Theme.Texas4Win">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>